#section-about {
  background-color: #707070;
  transition: background-color 0.3s ease-in-out;
}

#section-about:hover {
  background-color: #292b29;
  color: #ffffff;
}

.about {
  background: url('../../Assets/backg-img.jpg');
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

.about-texte {
  color: #ffffff;
  font-size: 30px;
}

.about-texte h1{
  padding-left: 35px;
  font-size: 50px;
  margin-bottom: 10px;
}

.about-texte p { 
  color: #76f69f;
  padding-left: 38px;
  font-size: 18px;
  margin-top: 25px;
}

.a-propos {
  color: rgb(255, 255, 255);
  font-size: clamp(20px, 2vw, 28px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 500px;
  padding: 40px 30px;
}

.text-apropos {
  max-width: 800px;
  line-height: 1.8;
  font-style: italic;
}


@media (max-width: 1200px) {
  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    background-size: contain; /* Permet d'éviter que l'image soit trop étirée */
  }

  .about-texte {
    font-size: 26px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  #a-propos {
    font-size: 20px;
    margin: 60px;
  }

  .about {
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
    padding: 40px 15px;
    background-size: cover;
    background-position: center;
  }

  .about-texte {
    font-size: 22px;
    padding: 0 15px;
  }
}

@media (max-width: 480px) {
  #a-propos {
    font-size: 18px;
    margin: 40px;
  }

  .about {
    min-height: 60vh;
    padding: 30px 10px;
    flex-direction: column;
    text-align: center;
    background-size: cover;
  }

  .about-texte {
    font-size: 18px;
    padding: 0 10px;
    text-align: center;
  }
}

