.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  z-index: 999;
  padding-bottom: 20px;
  background-color: #000;
  height: 80px;
}

  .header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px; 
    background: linear-gradient(to bottom, #50c878, transparent); /*Dégradé vert émeraude*/
  }


  .logo {
    width: 50px;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

    .links a {
      text-decoration: none;
      color: white;
    }
    
    .links a:visited {
      color: white;
      background: #000;
      transition: .3s ease;
    }
    
    .links a:hover {
      color: #76f69f;
    }
    
    .links a:active {
      color: white;
    }
    

/* Styles pour le menu hamburger */
.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

/* Media Queries pour rendre le design responsive */
@media (max-width: 768px) {
  .header .links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 15px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
  }

  .header .links.open {
    display: flex;
  }

  .hamburger {
    display: block;
    color: #fff;
    font-size: 60px;
  }

  .header .links a {
    padding: 10px;
    border-bottom: 1px solid #444;
    color: #fff;
  }

  .header .links a:hover {
    background-color: #555;
  }

  .logo {
    width: 40px;
  }

  .header {
    height: 120px;
  }
}
