
body {
  background-color:#18111B;
  color:#ECD9FA;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
